.bookContent {
  background-color: wheat;
  display: inline-flex;
  flex-direction: column;
  width: 30rem;
  height: 100%;
  margin: 2rem;
  border-radius: 2rem;
    img{
      justify-content: center;
      margin:auto;
    }
    input{
      margin:1rem;
    }
    a{
      background-color: #35304d;
      color: white;
      height: 4rem;
      border-color: white;
      cursor: pointer;
      border-radius: 2rem;
      padding: 1rem;
      border: 1px solid white;
    }
    button{
      background-color: rgb(53 48 77);;
      color: white;
      height: 4rem;
      border-color: white;
      cursor: pointer;
      border-radius: 2rem;
    }
    button:hover, a:hover{
      background-color: #b96262;
    }
}
