.bookContent {
  background-color: wheat;
  display: inline-flex;
  flex-direction: column;
  width: 30rem;
  height: 100%;
  margin: 2rem;
  border-radius: 2rem;
  .image{
    justify-content: center;
  }
    button{
      background-color: rgb(53 48 77);;
      color: white;
      height: 4rem;
      border-color: white;
      cursor: pointer;
      border-radius: 2rem;
    }
    button:hover{
      background-color: #b96262;
    }
}
