.bookContent {
  background-color:wheat;
  display: inline-flex;
  flex-direction: column;
  width: 30rem;
  max-height: 70%;
  margin: 2rem;
  border-radius: 2rem;
  &-authorTitle {
    padding: 2rem;
    justify-content: space-evenly;
    display: flex;
    word-break: break-word;
    font-weight: 600;
  }
  &-title {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
  }
  img {
    justify-content: center;
    margin: auto;
  }
  input {
    margin: 1rem;
  }
  a {
    background-color: #322549;;
    color: white;
    height: 4rem;
    border-color: white;
    cursor: pointer;
    border-radius: 2rem;
    padding: 1rem;
    border: 1px solid white;
  }
  &-btnAdd, &-btnRead {
    background-color: #322549;
    color: white;
    height: 4rem;
    border-color: white;
    cursor: pointer;
    border-radius: 2rem;
  }
  &-btnAdd:hover,
  a:hover {
    background-color: #da656b;
    color:rgb(53 48 77);
    font-weight: 700;
  }
  &-btnRead:hover,
  a:hover {
    background-color: #5b65ec;
    color:white;
    font-weight: 700;
  }
}
.bookContent:hover{
  background-color: rgb(185, 169, 169);
  // transform: translate3d(2px, 0, 10px);
  // transition: 0.3s;
}