.headerContainer {
    display: flex;
    position: sticky;
    justify-content: space-between;
    list-style-type: none;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 5em;
    padding-right: 3.5em;
    padding-top: 4rem;
    border-bottom: 1px solid white;
    &-homeBtn{
        svg{
            color:white;
            margin-left: 7rem;
            text-decoration: white;
        }
    }
    &-menuContainer{
        display: flex;
    }
    &-menu{
        margin-right: 3rem;
        padding: 1rem;
        a {
        color: white;
        padding: 0.9rem;
        border: 1px solid rgb(183, 183, 230);
        border-radius: 2rem;
        }
        a:hover {
        background-color: rgb(67, 67, 94);
        }
    }
    &-logout{
        height: 4.5rem;
        background-color: transparent;
        color: white;
        font-size: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border: 1px solid #b7b7e6;
        border-radius: 2rem;
        cursor: pointer;
    }
    &-logout:hover{
        background-color: rgb(153, 62, 62);
    }
}
