.movieContent {
  background-color: transparent;
  border: 1px solid white;
  display: inline-flex;
  flex-direction: column;
  width: 30rem;
  max-height: 70%;
  border-radius: 2rem;
  padding-top: 2rem;
  margin: 2rem;
  h2{
    color:white
  }
  &-genre {
    color: white;
    padding: 2rem;
    justify-content: space-evenly;
    display: flex;
    word-break: break-word;
    font-weight: 600;
    font-size: 1.3rem;
  }
  &-icon {
    display: flex;
    margin: auto;
    color: #c8c4d3;
  }
  &-rating {
    justify-content: start;
    display: flex;
    margin-left: 5rem;
  }
  img {
    justify-content: center;
    margin: auto;
  }
  &-btnAdd,
  &-btnWatch,
  &-removeBtn {
    background-color: rgb(53 48 77);
    color: white;
    height: 4rem;
    border-color: white;
    cursor: pointer;
    border-radius: 2rem;
  }
  &-removeBtn:hover {
    background-color: #6dca75;
    color: rgb(53 48 77);
    font-weight: 700;
  }
  &-btnAdd:hover {
    background-color: #da656b;
    color: rgb(53 48 77);
    font-weight: 700;
  }
  &-btnWatch:hover {
    background-color: #5b65ec;
    color: white;
    font-weight: 700;
  }
}
.movieContent:hover {
  background-color: #55416e;
}
