.formContainer {
    justify-content: center;
    margin: auto;
    margin-top: 20rem;
    h1{
        color:white;
    }
      &-form {
        display: flex;
        flex-direction: column;
        width: 45rem;
        margin: auto;
          input{
              margin: 1rem;
              padding: 1rem;
          }
          &-btnBox{
              display: flex;
              justify-content: center;
              height: 4rem;
              margin-top: 1rem;
              button{
                  background-color: transparent;
                  color: white;
                  font-size: 2rem;
                  padding-left: 2rem;
                  padding-right: 2rem;
                  border: 1px solid #b7b7e6;
                  cursor: pointer;
              }
              button:hover{
                  background-color: rgb(67, 67, 94);
              }
          }
      }
  }
  