.movieListContainer {
    margin-top: 10rem;
    display: inline-block;
    justify-content: center;
    h1 {
      background-color: transparent;
      padding: 1rem;
      color: beige;
      text-shadow: 1px 7px 20px beige;
    }
  }
  