@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 62.5%;
}
@media (max-width: 1440px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  /* background-color: rgb(53, 48, 77); */
  background: radial-gradient(ellipse at bottom, #442a60 0%, #1e202e 100%);
}
a {
  text-decoration: none;
}
